
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# package-lock
#//////////////////////////
package-lock.json

#//////////////////////////
# dist
#//////////////////////////
dist